html {
  background-color: cadetblue;
}
.App {
  text-align: center;
}

.myHeader {
  background-color: #ededed;
  color: #332e37;
  margin: 30px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.356);
}

.myDeclaration {
  align-self: center;
  font-variant: small-caps;
}

.myHeadshot {
  max-height: 200px;
}

.myTile {
  margin: 10px;
  color: #ededed;
  background-color: rgba(0, 0, 0, 0.356);
}

.subHeader {
  background-color: rgba(255, 255, 255, 0.589);
  color: darkslategrey;
  padding: 10px;
}

.myContent {
  padding: 10px 20px 10px 20px;
  font-size: 24px !important;
}

.myLinks {
  color: rgb(167, 242, 245) !important;
  text-decoration: underline;
}

.myThumbnails {
  max-width: 90%;
}